<!DOCTYPE html>
<html lang="ko">
<head>
    <style>
        div{
           font-weight: bold;
           font-size: large;
        }
    </style>
  <title>선수 하이라이트및 소개 페이지</title>
  <meta charset="utf-8">
    
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-expand-sm bg-light">
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="https://namu.wiki/w/%EC%9D%B4%EC%83%81%ED%98%81?from=%ED%8E%98%EC%9D%B4%EC%BB%A4">LCK의 전설 FAKER </a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="https://namu.wiki/w/%EA%B9%80%ED%98%81%EA%B7%9C?from=%EB%8D%B0%ED%94%84%ED%8A%B8"> 원딜의 로망 DEFT </a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" href="https://namu.wiki/w/%ED%97%88%EC%88%98(%ED%94%84%EB%A1%9C%EA%B2%8C%EC%9D%B4%EB%A8%B8)?from=%EC%87%BC%EB%A9%94%EC%9D%B4%EC%BB%A4">천재 괴물 Showmaker</a>
    </li>
   
    <li class="nav-item">
      <a class="nav-link" href="https://namu.wiki/w/%EA%B3%BD%EB%B3%B4%EC%84%B1?from=bdd">황태자 BDD</a>
    </li>
    
    <li class="nav-item">
      <a class="nav-link" href="https://namu.wiki/w/%EC%A0%95%EC%A7%80%ED%9B%88(2001)?from=%EC%B5%B8%EB%B9%84">괴물신인 CHOVY</a>
    </li>

    <li class="nav-item">
      <a class="nav-link" href="/">League of legends Esports </a>
    </li>
    
  </ul>
</nav>
<br>

<div class="container-fluid">
   
    
    <p>LCK의 전설적 선수들의 하이라이트 및 이력을 소개하는 페이지 입니다.많은 선수들과 팀에 대한 정보를 알아가세요!</p>
    <p>위 선수들의 이름을 클릭하면 선수 소개페이지로 이동합니다.</p>
    
    <iframe width="1113" height="626" src="https://www.youtube.com/embed/XHTXxnEqB-M" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>Faker 하이라이트</div>
    
    <iframe width="1113" height="626" src="https://www.youtube.com/embed/2-Ix3m9Wjcg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>Deft 하이라이트</div>
    
    <iframe width="1113" height="626" src="https://www.youtube.com/embed/-DH5WSuJcLw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>Showmaker 하이라이트</div>
    
    <iframe width="1113" height="626" src="https://www.youtube.com/embed/qhzeRUWBRu0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>Bdd 하이라이트</div>
    
    <iframe width="1113" height="626" src="https://www.youtube.com/embed/Fj0yIwRXlFw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    <div>Chovy 하이라이트</div>
</body>
</html>
